@model DangThiAnh037.Models.DTA0037

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DTA0037</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DTAName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DTAName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DTAGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DTAGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DTAId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
